<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <h1>Available Courses</h1>
        <div class="course" v-for="(course, index) in courses" :key="index">
            <i :class="course.icon"></i>
            <strong>{{ course.subject }}</strong><br>
            Location: {{ course.location }}<br>
            Price: ${{ course.price }}<br>
            Spaces left: {{ course.spaces }}<br>
            <button @click="addToBasket(course)" :disabled="isInBasket(course) || course.spaces === 0">
                {{ isInBasket(course) ? 'In Basket' : 'Add to Basket' }}
            </button>
        </div>

        <div class="basket" v-if="basket.length > 0">
            <h1>Basket</h1>
            <ul>
                <li v-for="(item, idx) in basket" :key="idx">
                    {{ item.subject }} - ${{ item.price }}
                </li>
            </ul>
            <strong>Total: ${{ basketTotal }}</strong>
        </div>
    </div>

    <script src="js/app.js"></script>
</body>

</html>